body {
    font-family: serif;
}

.sphinxsidebar {
  display: none;
}

div.documentwrapper {
    float: none;
    width: 100%;
}

div.bodywrapper {
    margin: 0;
}

div.body {
    padding: 0 20px 30px 20px;
    border: none;
    position: static;
    left: 0px;
    top: auto;
    bottom: auto;
    right: auto;
}

div.footer {
    position: static;
}
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    border-bottom: none;
    background-color: transparent;
}
div.body h1,
div.body h2 {
    border-bottom: 1px dotted #333;
}

pre {
    color: #000;
    border: 1px solid #666;
    background-color: transparent;
}

tt {
    color: #000;
    font-weight: normal;
}